## Retail Transaction Data

### Objective:
#### Use $1000 left in marketing budget to convert some physical store customers to the online store.by mail some of these customers coupons for them to use online.

In [2]:
#Read Dataset and Explore it set parse_date with Trans_date to set the appropriate date type to the selected column
import pandas as pd

df = pd.read_csv("Retail_Data_Transactions.csv", parse_dates=["trans_date"])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125000 entries, 0 to 124999
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   customer_id  125000 non-null  object
 1   trans_date   125000 non-null  datetime64[ns]
 2   tran_amount  125000 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 2.9+ MB
None

From info of data we release that ther's no missing values and the data type is right

In [15]:
# Group data by customer ID
group_by_customer =df.groupby("customer_id")

In [16]:
# Find The Last transaction occured by each Customer
last_transaction = group_by_customer["trans_date"].max()
last_transaction

customer_id
CS1112   2015-01-14
CS1113   2015-02-09
CS1114   2015-02-12
CS1115   2015-03-05
CS1116   2014-08-25
            ...
CS8996   2014-12-09
CS8997   2014-06-28
CS8998   2014-12-22
CS8999   2014-07-02
CS9000   2015-02-28
Name: trans_date, Length: 6889, dtype: datetime64[ns]

In [17]:
# select 5 customer Randomly 
last_transaction.sample(5)

customer_id
CS4392   2015-03-09
CS5171   2015-03-15
CS8401   2015-02-22
CS4123   2015-03-11
CS5345   2015-01-25
Name: trans_date, dtype: datetime64[ns]

### Identify churned customer is one who hasn't purchased anything since October 16 (three months).

In [21]:
best_churn=pd.DataFrame(last_transaction)

Add churned Column that should have the value of 1 if the customer has churned and 0  otherwise.

In [22]:
#Create a datetime object representing October 16, 2019
import datetime
cutoff_day=datetime.datetime(2019, 10, 16)

In [24]:
# Function to identify Customers According to Date 
best_churn["churned"] = best_churn["trans_date"].apply(
    lambda date: 1 if date < cutoff_day else 0)

In [33]:
# Get the number of Purchases For Each Customer using Size Function which count the number of elements along a given axis
# and select five random
best_churn["nr_of_transactions"] = group_by_customer.size()
best_churn.sample(5)

             churned  nr_of_transactions  amount_spent
customer_id
CS2083             1                26.0        1632.0
CS5691             1                18.0        1344.0
CS7648             1                15.0         763.0
CS1219             1                21.0        1447.0
CS3696             1                21.0        1387.0

In [31]:
# Get the total amount of spent For Each Customer and select five random
best_churn["amount_spent"]=group_by_customer.sum()
best_churn.sample(5)

            trans_date  churned  nr_of_transactions  amount_spent
customer_id
CS7125      2013-12-12        1                 8.0         447.0
CS8738      2014-11-23        1                16.0         854.0
CS5372      2014-10-07        1                24.0        1721.0
CS5628      2015-02-08        1                16.0        1093.0
CS3390      2015-01-07        1                17.0        1208.0

In [32]:
# Drop Trans_date column now
best_churn.drop("trans_date", axis="columns", inplace=True)

### To Find The Best Customers 
#### - Find a Ranking Mechanism 
#### - Determine a Treshold

In [35]:

best_churn["scaled_tran"]=(best_churn["nr_of_transactions"]-best_churn["nr_of_transactions"].min())/(best_churn["nr_of_transactions"].max()-best_churn["nr_of_transactions"].min())

In [36]:
best_churn["scaled_amount"] = (best_churn["amount_spent"] \
                               -best_churn["amount_spent"].min()) \
                               / (best_churn["amount_spent"].max() \
                               - best_churn["amount_spent"].min())

Normalization Columns
min-max feature scaling The goal of this technique is to compare different scales in a meaningful way.

using Weighted Sum Model to classify customers by number as score from the following Formula

### 1- Ranking Mechanism
 sorting the customers by their score.

In [38]:
best_churn["score"]=100*(0.5*best_churn["scaled_tran"]+0.5*best_churn["scaled_amount"])

In [39]:
best_churn.sort_values("score", inplace=True, ascending=False)

In [40]:
best_churn

,churned,nr_of_transactions,amount_spent,scaled_tran,scaled_amount,score
customer_id,,,,,,
CS4424,1,39.0,2933.0,1.000000,1.000000,100.000000
CS4320,1,38.0,2647.0,0.971429,0.897270,93.434934
CS3799,1,36.0,2513.0,0.914286,0.849138,88.171182
CS5109,1,35.0,2506.0,0.885714,0.846624,86.616892
CS3805,1,35.0,2453.0,0.885714,0.827586,85.665025
...,...,...,...,...,...,...
CS7224,1,4.0,191.0,0.000000,0.015086,0.754310
CS8504,1,4.0,190.0,0.000000,0.014727,0.736351
CS8559,1,4.0,157.0,0.000000,0.002874,0.143678
CS7333,1,4.0,149.0,0.000000,0.000000,0.000000
cutoff_day,0,NaN,NaN,NaN,NaN,NaN

### 2-  Determine Treshold

From your experience, you know that a 30% discount is already very enticing;
 - value of the coupon :the mean of the transactions and compute 30% of that
 - nr_of_customers : Divide the budget by the valueof Cupons

In [43]:
coupon=df["tran_amount"].mean()*0.3
coupon

19.4975736

We will Round it to 20$ so  The Value of Coupon is 20$

In [45]:
nr_of_customers=1000/coupon
nr_of_customers

51.28843314123969

We Will Send The coupon for the top 50 Churned Customers

In [48]:
top_50_churned=best_churn.loc[best_churn["churned"]==1].head(50)
top_50_churned

,churned,nr_of_transactions,amount_spent,scaled_tran,scaled_amount,score
customer_id,,,,,,
CS4424,1,39.0,2933.0,1.000000,1.000000,100.000000
CS4320,1,38.0,2647.0,0.971429,0.897270,93.434934
CS3799,1,36.0,2513.0,0.914286,0.849138,88.171182
CS5109,1,35.0,2506.0,0.885714,0.846624,86.616892
CS3805,1,35.0,2453.0,0.885714,0.827586,85.665025
CS5752,1,33.0,2612.0,0.828571,0.884698,85.663485
CS4074,1,34.0,2462.0,0.857143,0.830819,84.398091
CS4660,1,33.0,2527.0,0.828571,0.854167,84.136905
CS1215,1,35.0,2362.0,0.885714,0.794899,84.030686
CS2620,1,35.0,2360.0,0.885714,0.794181,83.994766
CS4998,1,34.0,2358.0,0.857143,0.793463,82.530275
CS3013,1,35.0,2259.0,0.885714,0.757902,82.180829
CS4608,1,32.0,2449.0,0.800000,0.826149,81.307471
CS3270,1,33.0,2349.0,0.828571,0.790230,80.940066
CS4555,1,33.0,2331.0,0.828571,0.783764,80.616790
CS2316,1,33.0,2330.0,0.828571,0.783405,80.598830
CS1580,1,33.0,2329.0,0.828571,0.783046,80.580870
CS2951,1,32.0,2382.0,0.800000,0.802083,80.104167
CS4540,1,32.0,2361.0,0.800000,0.794540,79.727011
CS5555,1,31.0,2439.0,0.771429,0.822557,79.699302
CS1982,1,32.0,2354.0,0.800000,0.792026,79.601293
CS3163,1,31.0,2413.0,0.771429,0.813218,79.232348
CS3975,1,32.0,2327.0,0.800000,0.782328,79.116379
CS5990,1,32.0,2326.0,0.800000,0.781968,79.098420
CS5287,1,32.0,2307.0,0.800000,0.775144,78.757184
CS4232,1,32.0,2302.0,0.800000,0.773348,78.667385
CS5323,1,32.0,2280.0,0.800000,0.765445,78.272270
CS4048,1,31.0,2358.0,0.771429,0.793463,78.244561
CS4746,1,31.0,2337.0,0.771429,0.785920,77.867406
CS5528,1,31.0,2312.0,0.771429,0.776940,77.418411
CS3615,1,31.0,2263.0,0.771429,0.759339,76.538383
CS5868,1,31.0,2260.0,0.771429,0.758261,76.484503
CS1695,1,32.0,2174.0,0.800000,0.727371,76.368534
CS1865,1,31.0,2245.0,0.771429,0.752874,76.215107
CS1757,1,31.0,2238.0,0.771429,0.750359,76.089388
CS2946,1,31.0,2238.0,0.771429,0.750359,76.089388
CS3911,1,31.0,2229.0,0.771429,0.747126,75.927750
CS3362,1,30.0,2303.0,0.742857,0.773707,75.828202
CS4329,1,30.0,2301.0,0.742857,0.772989,75.792282
CS3356,1,31.0,2221.0,0.771429,0.744253,75.784072
CS1978,1,31.0,2220.0,0.771429,0.743894,75.766112
CS1786,1,31.0,2218.0,0.771429,0.743175,75.730193
CS3028,1,31.0,2214.0,0.771429,0.741739,75.658354
CS1541,1,30.0,2273.0,0.742857,0.762931,75.289409
CS4303,1,31.0,2181.0,0.771429,0.729885,75.065681
CS5928,1,32.0,2087.0,0.800000,0.696121,74.806034
CS3821,1,30.0,2240.0,0.742857,0.751078,74.696736
CS4670,1,30.0,2214.0,0.742857,0.741739,74.229782
CS1661,1,32.0,2051.0,0.800000,0.683190,74.159483
CS3504,1,30.0,2207.0,0.742857,0.739224,74.104064

In [49]:
top_50_churned.to_csv("best_customers.txt")

Finally We Save data of 50 churn customer will recieve Cupons to send it to Manager as text File